*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  border: 0;
  outline: 0;
}
@font-face {
  font-family: Muller;
  src: url(./fonts/Muller-Trial-Heavy.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Muller;
  src: url(./fonts/Muller-Trial-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Muller;
  src: url(./fonts/Muller-Trial-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Muller;
  src: url(./fonts/Muller-Trial-Black.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Muller;
  src: url(./fonts/Muller-Trial-Bold.ttf);
  font-weight: 700;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: Muller, sans-serif;
  color: #f6f6f6;
  font-weight: 400;
  font-size: 15px;
  background: #111010;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title {
  font-weight: 900;
  font-size: 56px;
  line-height: 107%;
  text-align: center;
  color: #e8e8e9;
  margin-bottom: 64px;
}
:root {
  --dark-select: #1b1d1f;
  --dark-select-80: #494a4c;
  --dark-select-60: #767779;
  --dark-select-40: #a4a5a5;
  --dark-select-20: #d1d2d2;
  --dark-select-10: #e8e8e9;
  --white: #f6f6f6;
  --dark-main: #111010;
  --dark-main-80: #414040;
  --dark-main-60: #707070;
  --dark-main-20: #cfcfcf;
  --dark-main-40: #a09f9f;
  --yellow: #ffeb61;
  --yellow-80: #ffef81;
  --yellow-60: #fff3a0;
  --yellow-40: #fff7c0;
  --yellow-20: #fffbdf;
  --yellow-10: #fffdef;
}
body.menu-active {
  overflow: hidden;
  height: 100vh;
}
